node_modules/
dist/
*.tsbuildinfo

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS generated artifacts
**/Pods/
**/Flutter/ephemeral/
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/Runner/GeneratedPluginRegistrant.*
